<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="icon" href="/images/logo.jpg">
</head>

<body class="container">
    <%- include('../preloader/preloader'); %>
    <section>
        <header>
            <link rel="stylesheet" type="text/css" href="css/partials/header.css">
            <%- include('../partials/header', {title:'Overview', subtitle: true}); %>
        </header>
        <main>
            <section class="categories">
                <div class="container-black-white">
                    <% if(images) {  images.forEach(image=> { %>
                        <a class="image-container fade" href="/overview/<%= image.description %>">
                            <img src=<%=image.img.path_resized %> alt="">
                            <p class="p-text">
                                <%=image.description %>
                            </p>
                        </a>
                        <% });
                    } %>
                </div>
            </section>
        </main>
        <footer>
            <link rel="stylesheet" href="css/partials/footer.css">
            <%- include('../partials/footer'); %>
        </footer>
    </section>
</body>
</html>