<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {tabTitle:'Katleen Lapaige'}); %>
        <link rel="stylesheet" type="text/css" href="../../../css/admin/category-editor.css">
        <link rel="icon" href="/images/logo.jpg">
</head>

<body>
    <%- include('../../preloader/preloader', { styleLink: '../../css/preloader/preloader.css' ,
        jsLink: '../../js/preloader/preloader.js' }); %>
        <header>
            <link rel="stylesheet" type="text/css" href="../../../css/partials/header.css">
            <%- include('../../partials/header', {title:categoryTitle, subtitle: false}); %>
        </header>
        <main>
            <section class="categories">
                <div class="gallery">
                    <% if(images) { images.forEach(image=> { %>
                        <div class="img-container fade" id="<%= image._id %>">
                            <img src="/<%= image.img.path_resized %>" data-original="/<%= image.img.path_original %>"
                                id="<%= image.title %>" alt="<%= image.description %>">

                            <div class="button-section">
                                <button class="container-button details-button" id="details_<%= image._id %>"><i
                                    class="fa fa-info-circle" aria-hidden="true"></i></i></button>
                                <button class="container-button delete-button" id="delete_<%= image._id %>"><i
                                        class="fa fa-trash" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <% }); } %>
                </div>
                <section class="modal-base">
                    <!-- <div class="details-modal">
                        <div class="modal-container">
                            <div class="header-modal">
                                <div class="title-modal">DETAILS</div>
                                <button class="container-button close-modal"><i class="fa fa-times-circle"
                                        aria-hidden="true"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-row">
                                    <label for="title" class="text-field">Titel</label>
                                    <textarea type="text" id="title"
                                        disabled>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, modi?</textarea>
                                </div>

                                <div class="modal-row">
                                    <label for="category" class="text-field">Categorie</label>
                                    <select name="cars" id="cars" class="disabled" disabled>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>

                                <div class="modal-row">
                                    <label for="description" class="text-field">Beschrijving</label>
                                    <textarea type="text" id="description"
                                        disabled>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, quia!</textarea>
                                </div>

                                <div class="modal-row-detailed">
                                    <div class="text-field">Origineel</div>
                                    <div class="modal-row">
                                        <label for="size-original" class="text-field-detailed">Grootte</label>
                                        <textarea type="text" id="size-original" disabled>101589 kB</textarea>
                                    </div>
                                    <div class="modal-row">
                                        <label for="url-original" class="text-field-detailed">Url</label>
                                        <textarea type="text" id="url-original"
                                            disabled>uploads\categories\Thumbnail\original\cat-experimenteel.png</textarea>
                                    </div>
                                </div>
                                <div class="modal-row-detailed">
                                    <div class="text-field">Klein</div>
                                    <div class="modal-row">
                                        <label for="size-resized" class="text-field-detailed">Grootte</label>
                                        <textarea type="text" id="size-resized" disabled>59452 kB</textarea>
                                    </div>
                                    <div class="modal-row">
                                        <label for="url-resized" class="text-field-detailed">Url</label>
                                        <textarea type="text" id="url-resized"
                                            disabled>uploads\categories\Thumbnail\resized\cat-experimenteel.png</textarea>
                                    </div>
                                </div>
                                <div class="modal-row">
                                    <label for="mime-type" class="text-field">Type</label>
                                    <textarea type="text" id="mime-type" disabled>.png</textarea>
                                </div>

                                <div class="modal-row">
                                    <label for="index" class="text-field">Index</label>
                                    <textarea type="text" id="index" disabled>1</textarea>
                                </div>
                                <div class="modal-row-buttons">
                                    <button id="deleteImage" class="button"><i class="fa fa-trash"
                                            aria-hidden="true"></i>Verwijderen</button>
                                    <button id="editImage" class="button"><i class="fa fa-pencil"
                                            aria-hidden="true"></i>Bewerken</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </section>

            </section>
            <popup>
                <%- include('../../popup/alert'); %>
            </popup>
        </main>
        <footer>
            <link rel="stylesheet" href="../../../css/partials/footer.css">
            <%- include('../../partials/footer'); %>
        </footer>
        <script async src="../../js/admin/CategoryEditor.js" type="module"></script>
</body>

</html>